/* styles.css */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('image/pexels-photo-1853367.webp');
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
    color: #fff;
    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 90%;
    width: 400px;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

#date {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#clock {
    font-size: 3em;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
    #date, #clock {
        font-size: 1.2em;
    }
}
